In [2]:
import numpy as np
import pandas as pd
import statsmodels.api as sm
from statsmodels.iolib.summary2 import summary_col 
from linearmodels import RandomEffects
from linearmodels import PanelOLS
import scipy as sp

## Problem 1

In [3]:
df = pd.read_stata("jtrain.dta")
df.head()

,year,fcode,employ,sales,avgsal,scrap,rework,tothrs,union,grant,...,grant_1,clscrap,cgrant,clemploy,clsales,lavgsal,clavgsal,cgrant_1,chrsemp,clhrsemp
0,1987,410032.0,100.0,47000000.0,35000.0,NaN,NaN,12.0,0,0,...,0,NaN,0,NaN,NaN,10.463103,NaN,NaN,NaN,NaN
1,1988,410032.0,131.0,43000000.0,37000.0,NaN,NaN,8.0,0,0,...,0,NaN,0,0.270027,-0.088949,10.518673,0.055570,0.0,-8.946565,-1.165385
2,1989,410032.0,123.0,49000000.0,39000.0,NaN,NaN,8.0,0,0,...,0,NaN,0,-0.063013,0.130621,10.571317,0.052644,0.0,0.198597,0.047832
3,1987,410440.0,12.0,1560000.0,10500.0,NaN,NaN,12.0,0,0,...,0,NaN,0,NaN,NaN,9.259130,NaN,NaN,NaN,NaN
4,1988,410440.0,13.0,1970000.0,11000.0,NaN,NaN,12.0,0,0,...,0,NaN,0,0.080043,0.233347,9.305651,0.046520,0.0,0.000000,0.000000

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 471 entries, 0 to 470
Data columns (total 30 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   year      471 non-null    int16
 1   fcode     471 non-null    float32
 2   employ    440 non-null    float64
 3   sales     373 non-null    float32
 4   avgsal    406 non-null    float32
 5   scrap     162 non-null    float32
 6   rework    123 non-null    float32
 7   tothrs    415 non-null    float64
 8   union     471 non-null    int8
 9   grant     471 non-null    int8
 10  d89       471 non-null    int8
 11  d88       471 non-null    int8
 12  totrain   465 non-null    float64
 13  hrsemp    390 non-null    float32
 14  lscrap    162 non-null    float32
 15  lemploy   440 non-null    float32
 16  lsales    373 non-null    float32
 17  lrework   121 non-null    float32
 18  lhrsemp   390 non-null    float32
 19  lscrap_1  108 non-null    float32
 20  grant_1   471 non-null    int8
 21  clscrap   108 non-null    float32
 22  cgrant    471 non-null    int8
 23  clemploy  290 non-null    float32
 24  clsales   245 non-null    float32
 25  lavgsal   406 non-null    float32
 26  clavgsal  267 non-null    float32
 27  cgrant_1  314 non-null    float64
 28  chrsemp   251 non-null    float32
 29  clhrsemp  251 non-null    float32
dtypes: float32(19), float64(4), int16(1), int8(6)
memory usage: 57.0 KB

## (a)

In [5]:
df1 = df[["fcode", "hrsemp", "d88", "d89", "lemploy", "grant", "grant_1"]]
df1 = df1.dropna()

## Drop the firms if they don't have data for all three time periods 
df1 = df1.groupby("fcode").filter(lambda x: len(x)==3)
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 372 entries, 0 to 470
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   fcode    372 non-null    float32
 1   hrsemp   372 non-null    float32
 2   d88      372 non-null    int8
 3   d89      372 non-null    int8
 4   lemploy  372 non-null    float32
 5   grant    372 non-null    int8
 6   grant_1  372 non-null    int8
dtypes: float32(3), int8(4)
memory usage: 8.7 KB

In [6]:
## Compute the first difference
df1_diff = df1.groupby("fcode").diff(1).dropna()
df1_diff["const"] = 1

In [7]:
## Run the first-difference OLS regression

exog_var = ["const", "d89", "lemploy", "grant", "grant_1"]

result1 = sm.OLS(df1_diff["hrsemp"], df1_diff[exog_var]).fit() 
print(result1.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                 hrsemp   R-squared:                       0.476
Model:                            OLS   Adj. R-squared:                  0.467
Method:                 Least Squares   F-statistic:                     55.17
Date:                Sun, 27 Mar 2022   Prob (F-statistic):           4.75e-33
Time:                        17:12:07   Log-Likelihood:                -1086.1
No. Observations:                 248   AIC:                             2182.
Df Residuals:                     243   BIC:                             2200.
Df Model:                           4
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const         -0.5910      1.956     -0.302      0.763      -4.445       3.263
d89            5.2673      2.681      1.965      0.051      -0.014      10.548
lemploy        1.0706      4.898      0.219      0.827      -8.578      10.719
grant         32.4834      2.989     10.868      0.000      26.596      38.371
grant_1        1.8679      5.606      0.333      0.739      -9.174      12.910
==============================================================================
Omnibus:                      126.235   Durbin-Watson:                   2.384
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             1505.624
Skew:                           1.695   Prob(JB):                         0.00
Kurtosis:                      14.585   Cond. No.                         5.72
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

### [ANS]

There are 124 firms used in the estimation. We use 372 observations for all three time periods.

## (b)

 The coefficient of $Grant_{-1}$ is $32.4834$ and its p-value us $0.000$, which shows that it is significant.
Intuitively, the more grants firms receive, the more they train their employees.

## (c)

Yes. Practically, we may believe that the job training grants can have a long-term effect on the job training per employee. 
However, it cannot be supported by the dataset.

## (d)

Large firms trains their employees more.  On average, one percent increase in employees leads to $1.0706$ increases in hours per employee. 
Notice that this coefficient is insignificant.

## Problem 2

## (a)

In [8]:
df = pd.read_stata("murder.dta")
df.head()

,id,state,year,mrdrte,exec,unem,d90,d93,cmrdrte,cexec,cunem,cexec_1,cunem_1
0,1,AL,87,9.3,2,7.8,0,0,NaN,NaN,NaN,NaN,NaN
1,1,AL,90,11.6,5,6.8,1,0,2.3,3.0,-1.0,NaN,NaN
2,1,AL,93,11.6,2,7.5,0,1,0.0,-3.0,0.7,3.0,-1.0
3,2,AK,87,10.1,0,10.8,0,0,NaN,NaN,NaN,NaN,NaN
4,2,AK,90,7.5,0,6.9,1,0,-2.6,0.0,-3.9,NaN,NaN

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 153 entries, 0 to 152
Data columns (total 13 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   id       153 non-null    int8
 1   state    153 non-null    object
 2   year     153 non-null    int8
 3   mrdrte   153 non-null    float32
 4   exec     153 non-null    int8
 5   unem     153 non-null    float32
 6   d90      153 non-null    int8
 7   d93      153 non-null    int8
 8   cmrdrte  102 non-null    float32
 9   cexec    102 non-null    float64
 10  cunem    102 non-null    float32
 11  cexec_1  51 non-null     float64
 12  cunem_1  51 non-null     float32
dtypes: float32(5), float64(2), int8(5), object(1)
memory usage: 8.5+ KB

In [10]:
df2 = df[["id", "mrdrte", "d90", "d93", "exec", "unem"]]
df2 = df2.dropna()
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 153 entries, 0 to 152
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      153 non-null    int8
 1   mrdrte  153 non-null    float32
 2   d90     153 non-null    int8
 3   d93     153 non-null    int8
 4   exec    153 non-null    int8
 5   unem    153 non-null    float32
dtypes: float32(2), int8(4)
memory usage: 3.0 KB

In [11]:
df2["const"] = 1

## Run Pooled OLS regression
result2 = sm.OLS(df2["mrdrte"],
                   df2[["const", "d90", "d93", "exec", "unem"]]).fit() 
print(result2.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                 mrdrte   R-squared:                       0.076
Model:                            OLS   Adj. R-squared:                  0.051
Method:                 Least Squares   F-statistic:                     3.047
Date:                Sun, 27 Mar 2022   Prob (F-statistic):             0.0190
Time:                        17:12:08   Log-Likelihood:                -549.96
No. Observations:                 153   AIC:                             1110.
Df Residuals:                     148   BIC:                             1125.
Df Model:                           4
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const         -1.8644      3.070     -0.607      0.545      -7.930       4.201
d90            2.6753      1.817      1.472      0.143      -0.915       6.266
d93            1.6073      1.775      0.906      0.367      -1.900       5.114
exec           0.1628      0.194      0.839      0.403      -0.220       0.546
unem           1.3908      0.451      3.085      0.002       0.500       2.282
==============================================================================
Omnibus:                      220.139   Durbin-Watson:                   0.698
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            12528.591
Skew:                           6.053   Prob(JB):                         0.00
Kurtosis:                      45.647   Cond. No.                         29.9
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

## (b)

In [12]:
## Compute the first difference
df2_diff = df2.groupby("id").diff(1).dropna()
df2_diff["const"] = 1
df2_diff.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 102 entries, 1 to 152
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   mrdrte  102 non-null    float32
 1   d90     102 non-null    float32
 2   d93     102 non-null    float32
 3   exec    102 non-null    float32
 4   unem    102 non-null    float32
 5   const   102 non-null    int64
dtypes: float32(5), int64(1)
memory usage: 3.6 KB

In [13]:
## Run the first-difference OLS regression

result2 = sm.OLS(df2_diff["mrdrte"],
                   df2_diff[["const", "d93", "exec", "unem"]]).fit() 
print(result2.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                 mrdrte   R-squared:                       0.025
Model:                            OLS   Adj. R-squared:                 -0.005
Method:                 Least Squares   F-statistic:                    0.8429
Date:                Sun, 27 Mar 2022   Prob (F-statistic):              0.474
Time:                        17:12:08   Log-Likelihood:                -291.48
No. Observations:                 102   AIC:                             591.0
Df Residuals:                      98   BIC:                             601.5
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const          1.5110      0.661      2.286      0.024       0.199       2.823
d93           -1.2967      1.016     -1.276      0.205      -3.313       0.720
exec          -0.1151      0.147     -0.781      0.437      -0.408       0.177
unem           0.1631      0.308      0.530      0.598      -0.448       0.774
==============================================================================
Omnibus:                      200.631   Durbin-Watson:                   2.006
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            26309.078
Skew:                           8.387   Prob(JB):                         0.00
Kurtosis:                      79.870   Cond. No.                         8.10
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

## (c)

Yes. The coefficient of $UNEM_{it}$ becomes insignificant under first-difference estimation.

If we don't partial out the individual component $c_i$ from the estimation, we may overestimate the effect of unemployment.

## (d)

If $\epsilon_{it-1}$, the shock last year, affects the excutions this year, then $EXEC_{it}$ would not be strictly exogenous anymore. Such a case may happen because the policy maker may tend to support more excutions when the number of murders gets higher.

## Problem 3

## (a)

In [14]:
df = pd.read_stata("cornwell.dta")
df.head()

,county,year,crmrte,prbarr,prbconv,prbpris,avgsen,polpc,density,taxpc,...,lpctymle,lpctmin,clcrmrte,clprbarr,clprbcon,clprbpri,clavgsen,clpolpc,cltaxpc,clmix
0,1,81,0.039885,0.289696,0.402062,0.472222,5.61,0.001787,2.307159,25.697630,...,-2.433870,3.006608,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,82,0.038345,0.338111,0.433005,0.506993,5.59,0.001767,2.330254,24.874252,...,-2.449038,3.006608,-0.039376,0.154542,0.074143,0.071048,-0.003571,-0.011364,-0.032565,0.030857
2,1,83,0.030305,0.330449,0.525703,0.479705,5.80,0.001836,2.341801,26.451443,...,-2.464036,3.006608,-0.235316,-0.022922,0.193987,-0.055326,0.036879,0.038413,0.061477,-0.244732
3,1,84,0.034726,0.362525,0.604706,0.520104,6.89,0.001886,2.346420,26.842348,...,-2.478925,3.006608,0.136180,0.092641,0.140006,0.080857,0.172213,0.026930,0.014670,-0.027331
4,1,85,0.036573,0.325395,0.578723,0.497059,6.55,0.001924,2.364896,28.140337,...,-2.497306,3.006608,0.051825,-0.108054,-0.043918,-0.045320,-0.050606,0.020199,0.047223,0.172125

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 630 entries, 0 to 629
Data columns (total 59 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   county    630 non-null    int16
 1   year      630 non-null    int8
 2   crmrte    630 non-null    float32
 3   prbarr    630 non-null    float32
 4   prbconv   630 non-null    float32
 5   prbpris   630 non-null    float32
 6   avgsen    630 non-null    float32
 7   polpc     630 non-null    float32
 8   density   630 non-null    float32
 9   taxpc     630 non-null    float32
 10  west      630 non-null    int8
 11  central   630 non-null    int8
 12  urban     630 non-null    int8
 13  pctmin80  630 non-null    float32
 14  wcon      630 non-null    float32
 15  wtuc      630 non-null    float32
 16  wtrd      630 non-null    float32
 17  wfir      630 non-null    float32
 18  wser      630 non-null    float32
 19  wmfg      630 non-null    float32
 20  wfed      630 non-null    float32
 21  wsta      630 non-null    float32
 22  wloc      630 non-null    float32
 23  mix       630 non-null    float32
 24  pctymle   630 non-null    float32
 25  d82       630 non-null    int8
 26  d83       630 non-null    int8
 27  d84       630 non-null    int8
 28  d85       630 non-null    int8
 29  d86       630 non-null    int8
 30  d87       630 non-null    int8
 31  lcrmrte   630 non-null    float32
 32  lprbarr   630 non-null    float32
 33  lprbconv  630 non-null    float32
 34  lprbpris  630 non-null    float32
 35  lavgsen   630 non-null    float32
 36  lpolpc    630 non-null    float32
 37  ldensity  630 non-null    float32
 38  ltaxpc    630 non-null    float32
 39  lwcon     630 non-null    float32
 40  lwtuc     630 non-null    float32
 41  lwtrd     630 non-null    float32
 42  lwfir     630 non-null    float32
 43  lwser     630 non-null    float32
 44  lwmfg     630 non-null    float32
 45  lwfed     630 non-null    float32
 46  lwsta     630 non-null    float32
 47  lwloc     630 non-null    float32
 48  lmix      630 non-null    float32
 49  lpctymle  630 non-null    float32
 50  lpctmin   630 non-null    float32
 51  clcrmrte  540 non-null    float32
 52  clprbarr  540 non-null    float32
 53  clprbcon  540 non-null    float32
 54  clprbpri  540 non-null    float32
 55  clavgsen  540 non-null    float32
 56  clpolpc   540 non-null    float32
 57  cltaxpc   540 non-null    float32
 58  clmix     540 non-null    float32
dtypes: float32(48), int16(1), int8(10)
memory usage: 130.4 KB

In [16]:
year = pd.Categorical(df.year)
df3 = df.set_index(['county', 'year'])
df3['year'] = year
df3['const'] = 1

In [17]:
## Estimate the model by random effects

exog_var = ['const', 'd82', 'd83', 'd84', 'd85', 'd86', 'd87',
            'lprbarr', 'lprbconv', 'lprbpris', 'lavgsen', 'lpolpc']
exog = df3[exog_var]
model_RE = RandomEffects(df3.lcrmrte, exog)
result_RE = model_RE.fit()
print(result_RE)

                        RandomEffects Estimation Summary
================================================================================
Dep. Variable:                lcrmrte   R-squared:                        0.4264
Estimator:              RandomEffects   R-squared (Between):              0.4203
No. Observations:                 630   R-squared (Within):               0.4281
Date:                Sun, Mar 27 2022   R-squared (Overall):              0.4210
Time:                        17:12:08   Log-likelihood                    321.61
Cov. Estimator:            Unadjusted
                                        F-statistic:                      41.756
Entities:                          90   P-value                           0.0000
Avg Obs:                       7.0000   Distribution:                  F(11,618)
Min Obs:                       7.0000
Max Obs:                       7.0000   F-statistic (robust):             41.756
                                        P-value                           0.0000
Time periods:                       7   Distribution:                  F(11,618)
Avg Obs:                       90.000
Min Obs:                       90.000
Max Obs:                       90.000

                             Parameter Estimates
==============================================================================
            Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
------------------------------------------------------------------------------
const         -1.6678     0.1743    -9.5703     0.0000     -2.0100     -1.3255
d82            0.0137     0.0227     0.6018     0.5476     -0.0310      0.0584
d83           -0.0756     0.0225    -3.3551     0.0008     -0.1199     -0.0314
d84           -0.1134     0.0228    -4.9694     0.0000     -0.1582     -0.0686
d85           -0.1061     0.0231    -4.6028     0.0000     -0.1514     -0.0608
d86           -0.0797     0.0226    -3.5201     0.0005     -0.1241     -0.0352
d87           -0.0424     0.0222    -1.9072     0.0570     -0.0860      0.0013
lprbarr       -0.4212     0.0318    -13.261     0.0000     -0.4836     -0.3589
lprbconv      -0.3246     0.0209    -15.537     0.0000     -0.3657     -0.2836
lprbpris      -0.1798     0.0337    -5.3289     0.0000     -0.2461     -0.1136
lavgsen       -0.0081     0.0277    -0.2913     0.7710     -0.0625      0.0464
lpolpc         0.4293     0.0260     16.479     0.0000      0.3781      0.4804
==============================================================================

In [18]:
## Estimate the model by fixed effects

model_FE = PanelOLS(df3.lcrmrte, exog, entity_effects=True)
result_FE = model_FE.fit()
print(result_FE)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:                lcrmrte   R-squared:                        0.4342
Estimator:                   PanelOLS   R-squared (Between):              0.3746
No. Observations:                 630   R-squared (Within):               0.4342
Date:                Sun, Mar 27 2022   R-squared (Overall):              0.3798
Time:                        17:12:08   Log-likelihood                    405.58
Cov. Estimator:            Unadjusted
                                        F-statistic:                      36.911
Entities:                          90   P-value                           0.0000
Avg Obs:                       7.0000   Distribution:                  F(11,529)
Min Obs:                       7.0000
Max Obs:                       7.0000   F-statistic (robust):             36.911
                                        P-value                           0.0000
Time periods:                       7   Distribution:                  F(11,529)
Avg Obs:                       90.000
Min Obs:                       90.000
Max Obs:                       90.000

                             Parameter Estimates
==============================================================================
            Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
------------------------------------------------------------------------------
const         -1.6041     0.1686    -9.5159     0.0000     -1.9353     -1.2730
d82            0.0126     0.0215     0.5840     0.5595     -0.0297      0.0549
d83           -0.0793     0.0213    -3.7152     0.0002     -0.1212     -0.0374
d84           -0.1177     0.0216    -5.4467     0.0000     -0.1602     -0.0753
d85           -0.1120     0.0218    -5.1248     0.0000     -0.1549     -0.0690
d86           -0.0818     0.0214    -3.8189     0.0001     -0.1239     -0.0397
d87           -0.0405     0.0210    -1.9236     0.0549     -0.0818      0.0009
lprbarr       -0.3598     0.0324    -11.098     0.0000     -0.4235     -0.2961
lprbconv      -0.2859     0.0212    -13.474     0.0000     -0.3276     -0.2442
lprbpris      -0.1828     0.0325    -5.6308     0.0000     -0.2465     -0.1190
lavgsen       -0.0045     0.0264    -0.1697     0.8653     -0.0564      0.0475
lpolpc         0.4241     0.0264     16.086     0.0000      0.3723      0.4759
==============================================================================

F-test for Poolability: 45.874
P-value: 0.0000
Distribution: F(89,529)

Included effects: Entity

## (b)

In [19]:
## Compute W_i by averaging all explanatory variables across time

time_average = df3.groupby("county").mean()

## Merge the dataset

df3_merged = df3.merge(time_average, how='left', 
                       left_index=True, right_index=True, suffixes=('', '_avg'))

In [20]:
## Estimate the model by random effects

exog_var = ['const', 'd82', 'd83', 'd84', 'd85', 'd86', 'd87',
            'lprbarr', 'lprbconv', 'lprbpris', 'lavgsen', 'lpolpc',
            'lprbarr_avg', 'lprbconv_avg', 'lprbpris_avg', 'lavgsen_avg', 'lpolpc_avg']
exog = df3_merged[exog_var]
model_RE2 = RandomEffects(df3_merged.lcrmrte, exog)
result_RE2 = model_RE2.fit()
print(result_RE2)

                        RandomEffects Estimation Summary
================================================================================
Dep. Variable:                lcrmrte   R-squared:                        0.4940
Estimator:              RandomEffects   R-squared (Between):              0.7099
No. Observations:                 630   R-squared (Within):               0.4342
Date:                Sun, Mar 27 2022   R-squared (Overall):              0.6859
Time:                        17:12:08   Log-likelihood                    363.74
Cov. Estimator:            Unadjusted
                                        F-statistic:                      37.410
Entities:                          90   P-value                           0.0000
Avg Obs:                       7.0000   Distribution:                  F(16,613)
Min Obs:                       7.0000
Max Obs:                       7.0000   F-statistic (robust):             37.410
                                        P-value                           0.0000
Time periods:                       7   Distribution:                  F(16,613)
Avg Obs:                       90.000
Min Obs:                       90.000
Max Obs:                       90.000

                              Parameter Estimates
================================================================================
              Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
--------------------------------------------------------------------------------
const           -1.4557     0.7415    -1.9632     0.0501     -2.9119      0.0005
d82              0.0126     0.0214     0.5883     0.5566     -0.0294      0.0546
d83             -0.0793     0.0212    -3.7423     0.0002     -0.1209     -0.0377
d84             -0.1177     0.0215    -5.4865     0.0000     -0.1599     -0.0756
d85             -0.1120     0.0217    -5.1622     0.0000     -0.1545     -0.0694
d86             -0.0818     0.0213    -3.8468     0.0001     -0.1236     -0.0401
d87             -0.0405     0.0209    -1.9376     0.0531     -0.0815      0.0005
lprbarr         -0.3598     0.0322    -11.179     0.0000     -0.4230     -0.2966
lprbconv        -0.2859     0.0211    -13.572     0.0000     -0.3272     -0.2445
lprbpris        -0.1828     0.0322    -5.6719     0.0000     -0.2461     -0.1195
lavgsen         -0.0045     0.0263    -0.1709     0.8643     -0.0560      0.0471
lpolpc           0.4241     0.0262     16.203     0.0000      0.3727      0.4755
lprbarr_avg     -0.4531     0.1024    -4.4262     0.0000     -0.6541     -0.2520
lprbconv_avg    -0.3062     0.0766    -3.9991     0.0001     -0.4566     -0.1558
lprbpris_avg     1.3435     0.2514     5.3430     0.0000      0.8497      1.8372
lavgsen_avg     -0.1268     0.2204    -0.5752     0.5654     -0.5597      0.3061
lpolpc_avg      -0.0794     0.0796    -0.9976     0.3189     -0.2358      0.0769
================================================================================

In [21]:
## Do the Wald-Test for the coefficients

formula = 'lprbarr_avg = lprbconv_avg = lprbpris_avg  = lavgsen_avg = lpolpc_avg = 0'
result_RE2.wald_test(formula=formula)

Linear Equality Hypothesis Test
H0: Linear equality constraint is valid
Statistic: 81.9424
P-value: 0.0000
Distributed: chi2(5)
WaldTestStatistic, id: 0x7fc5808e1070

## [ANS]

It shows that we can reject the null hypothesis under $0.01$ significant level.

## (c)

In [22]:
## Add logarithms of the nine wage variables

exog_var = ['const', 'd82', 'd83', 'd84', 'd85', 'd86', 'd87',
            'lprbarr', 'lprbconv', 'lprbpris', 'lavgsen', 'lpolpc',
            'lwcon', 'lwtuc', 'lwtrd', 'lwfir', 'lwser', 'lwmfg', 'lwfed', 'lwsta', 'lwloc']
exog = df3[exog_var]

## Estimate the model by fixed effects

model_FE2 = PanelOLS(df3.lcrmrte, exog, entity_effects=True)
result_FE2 = model_FE2.fit()
print(result_FE2)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:                lcrmrte   R-squared:                        0.4575
Estimator:                   PanelOLS   R-squared (Between):              0.2458
No. Observations:                 630   R-squared (Within):               0.4575
Date:                Sun, Mar 27 2022   R-squared (Overall):              0.2642
Time:                        17:12:08   Log-likelihood                    418.79
Cov. Estimator:            Unadjusted
                                        F-statistic:                      21.923
Entities:                          90   P-value                           0.0000
Avg Obs:                       7.0000   Distribution:                  F(20,520)
Min Obs:                       7.0000
Max Obs:                       7.0000   F-statistic (robust):             21.923
                                        P-value                           0.0000
Time periods:                       7   Distribution:                  F(20,520)
Avg Obs:                       90.000
Min Obs:                       90.000
Max Obs:                       90.000

                             Parameter Estimates
==============================================================================
            Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
------------------------------------------------------------------------------
const          0.8932     1.4241     0.6272     0.5308     -1.9045      3.6908
d82            0.0189     0.0251     0.7519     0.4524     -0.0305      0.0682
d83           -0.0553     0.0330    -1.6739     0.0948     -0.1202      0.0096
d84           -0.0615     0.0411    -1.4975     0.1349     -0.1422      0.0192
d85           -0.0397     0.0562    -0.7071     0.4798     -0.1500      0.0706
d86           -0.0001     0.0680    -0.0017     0.9987     -0.1337      0.1335
d87            0.0537     0.0799     0.6722     0.5018     -0.1033      0.2107
lprbarr       -0.3564     0.0322    -11.081     0.0000     -0.4195     -0.2932
lprbconv      -0.2860     0.0211    -13.584     0.0000     -0.3273     -0.2446
lprbpris      -0.1751     0.0323    -5.4154     0.0000     -0.2387     -0.1116
lavgsen       -0.0029     0.0262    -0.1096     0.9127     -0.0544      0.0486
lpolpc         0.4229     0.0264     16.022     0.0000      0.3710      0.4748
lwcon         -0.0345     0.0392    -0.8821     0.3781     -0.1115      0.0424
lwtuc          0.0460     0.0190     2.4154     0.0161      0.0086      0.0834
lwtrd         -0.0202     0.0406    -0.4969     0.6195     -0.1000      0.0596
lwfir         -0.0035     0.0283    -0.1251     0.9005     -0.0592      0.0521
lwser          0.0101     0.0192     0.5277     0.5980     -0.0276      0.0478
lwmfg         -0.3006     0.1094    -2.7473     0.0062     -0.5155     -0.0856
lwfed         -0.3331     0.1764    -1.8879     0.0596     -0.6798      0.0135
lwsta          0.0215     0.1131     0.1903     0.8491     -0.2006      0.2436
lwloc          0.1810     0.1181     1.5332     0.1258     -0.0509      0.4130
==============================================================================

F-test for Poolability: 39.122
P-value: 0.0000
Distribution: F(89,520)

Included effects: Entity

In [23]:
## Do the Wald-Test for the coefficients

formula = 'lwcon = lwtuc = lwtrd = lwfir = lwser = lwmfg = lwfed = lwsta = lwloc = 0'
result_FE2.wald_test(formula=formula)

Linear Equality Hypothesis Test
H0: Linear equality constraint is valid
Statistic: 22.2649
P-value: 0.0081
Distributed: chi2(9)
WaldTestStatistic, id: 0x7fc5b07a6910

## [ANS]

We can reject the null hypothesis that the coefficient of these variables are equal to zero under $0.01$ significant level.

In [24]:
df3_diff = df3.groupby("county").diff(1)
df3_diff.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 630 entries, (1, 81) to (197, 87)
Data columns (total 59 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   crmrte    540 non-null    float32
 1   prbarr    540 non-null    float32
 2   prbconv   540 non-null    float32
 3   prbpris   540 non-null    float32
 4   avgsen    540 non-null    float32
 5   polpc     540 non-null    float32
 6   density   540 non-null    float32
 7   taxpc     540 non-null    float32
 8   west      540 non-null    float32
 9   central   540 non-null    float32
 10  urban     540 non-null    float32
 11  pctmin80  540 non-null    float32
 12  wcon      540 non-null    float32
 13  wtuc      540 non-null    float32
 14  wtrd      540 non-null    float32
 15  wfir      540 non-null    float32
 16  wser      540 non-null    float32
 17  wmfg      540 non-null    float32
 18  wfed      540 non-null    float32
 19  wsta      540 non-null    float32
 20  wloc      540 non-null    float32
 21  mix       540 non-null    float32
 22  pctymle   540 non-null    float32
 23  d82       540 non-null    float32
 24  d83       540 non-null    float32
 25  d84       540 non-null    float32
 26  d85       540 non-null    float32
 27  d86       540 non-null    float32
 28  d87       540 non-null    float32
 29  lcrmrte   540 non-null    float32
 30  lprbarr   540 non-null    float32
 31  lprbconv  540 non-null    float32
 32  lprbpris  540 non-null    float32
 33  lavgsen   540 non-null    float32
 34  lpolpc    540 non-null    float32
 35  ldensity  540 non-null    float32
 36  ltaxpc    540 non-null    float32
 37  lwcon     540 non-null    float32
 38  lwtuc     540 non-null    float32
 39  lwtrd     540 non-null    float32
 40  lwfir     540 non-null    float32
 41  lwser     540 non-null    float32
 42  lwmfg     540 non-null    float32
 43  lwfed     540 non-null    float32
 44  lwsta     540 non-null    float32
 45  lwloc     540 non-null    float32
 46  lmix      540 non-null    float32
 47  lpctymle  540 non-null    float32
 48  lpctmin   540 non-null    float32
 49  clcrmrte  450 non-null    float32
 50  clprbarr  450 non-null    float32
 51  clprbcon  450 non-null    float32
 52  clprbpri  450 non-null    float32
 53  clavgsen  450 non-null    float32
 54  clpolpc   450 non-null    float32
 55  cltaxpc   450 non-null    float32
 56  clmix     450 non-null    float32
 57  year      540 non-null    float64
 58  const     540 non-null    float64
dtypes: float32(57), float64(2)
memory usage: 154.6 KB

/Users/jhongyihuang/opt/anaconda3/lib/python3.9/site-packages/pandas/core/groupby/groupby.py:937: FutureWarning: dtype lost in 'diff()'. In the future this will raise a TypeError. Convert to a suitable dtype prior to calling 'diff'.
  return f(x, *args, **kwargs)

## (d)

In [25]:
## Compute the first difference

df3_diff = df3.groupby("county").diff(1)

df3_diff['const'] = 1 
exog_var = ['const', 'd83', 'd84', 'd85', 'd86', 'd87',
            'lprbarr', 'lprbconv', 'lprbpris', 'lavgsen', 'lpolpc']
df3_diff = df3_diff[["lcrmrte", 'const', 'd83', 'd84', 'd85', 'd86', 'd87',
            'lprbarr', 'lprbconv', 'lprbpris', 'lavgsen', 'lpolpc']].dropna()


## Estimate the model by first difference

result_diff = sm.OLS(df3_diff["lcrmrte"], exog=df3_diff[exog_var]).fit() 
print(result_diff.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                lcrmrte   R-squared:                       0.433
Model:                            OLS   Adj. R-squared:                  0.422
Method:                 Least Squares   F-statistic:                     40.32
Date:                Sun, 27 Mar 2022   Prob (F-statistic):           6.30e-59
Time:                        17:12:08   Log-Likelihood:                 248.48
No. Observations:                 540   AIC:                            -475.0
Df Residuals:                     529   BIC:                            -427.7
Df Model:                          10
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const          0.0077      0.017      0.452      0.651      -0.026       0.041
d83           -0.0999      0.024     -4.179      0.000      -0.147      -0.053
d84           -0.1478      0.041     -3.581      0.000      -0.229      -0.067
d85           -0.1524      0.058     -2.610      0.009      -0.267      -0.038
d86           -0.1249      0.076     -1.643      0.101      -0.274       0.024
d87           -0.0841      0.094     -0.894      0.372      -0.269       0.101
lprbarr       -0.3275      0.030    -10.924      0.000      -0.386      -0.269
lprbconv      -0.2381      0.018    -13.058      0.000      -0.274      -0.202
lprbpris      -0.1650      0.026     -6.356      0.000      -0.216      -0.114
lavgsen       -0.0218      0.022     -0.985      0.325      -0.065       0.022
lpolpc         0.3984      0.027     14.821      0.000       0.346       0.451
==============================================================================
Omnibus:                       60.932   Durbin-Watson:                   2.366
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              419.621
Skew:                          -0.120   Prob(JB):                     7.59e-92
Kurtosis:                       7.312   Cond. No.                         21.6
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

## [ANS]

Compared with the fixed effect and random effect regression, the first-difference model has a smaller coefficient for $lnPOLPC_{it}$. This may reflect that the first difference reduces the serial correlation in the error terms.

## (e)

No. The differences in the standard errors between FE and FD are quite small.

## (f)

In [28]:
## Extract the residual and run the AR(1) regression

resid = result_diff.resid
resid_lag = resid.groupby("county").shift(1)
result_AR_test = sm.OLS(resid, resid_lag, missing = 'drop').fit() 
print(result_AR_test.summary())

                                 OLS Regression Results
=======================================================================================
Dep. Variable:                      y   R-squared (uncentered):                   0.049
Model:                            OLS   Adj. R-squared (uncentered):              0.047
Method:                 Least Squares   F-statistic:                              22.97
Date:                Sun, 27 Mar 2022   Prob (F-statistic):                    2.24e-06
Time:                        17:12:46   Log-Likelihood:                          205.85
No. Observations:                 450   AIC:                                     -409.7
Df Residuals:                     449   BIC:                                     -405.6
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
x1            -0.2305      0.048     -4.792      0.000      -0.325      -0.136
==============================================================================
Omnibus:                       53.401   Durbin-Watson:                   2.152
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              328.330
Skew:                          -0.232   Prob(JB):                     5.06e-72
Kurtosis:                       7.159   Cond. No.                         1.00
==============================================================================

Notes:
[1] R² is computed without centering (uncentered) since the model does not contain a constant.
[2] Standard Errors assume that the covariance matrix of the errors is correctly specified.

## [ANS]

We can reject the null hypothesis that the AR(1) coefficient is zero from the above table.